.jumbotron {
  text-align: center;
  background-color: transparent;
 font-color: white;
  
}

.homebutton{
  align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbartop {
  background-color: #5E5E5E;
}
.jumboback {
  font-color: white;
}

.buttonhomeR {
  min-width: 14em;
}

body {
  background: url("../images/bg-image.png");
  color: white;

}

footer {
  min-height: 5em;
  background-color: #5E5E5E;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
}
