.jumbotron {
  text-align: center;
  background-color: transparent;
 font-color: white;

}

.homebutton{
  align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbartop {
  background-color: black;

}
.jumboback {
  font-color: white;
}

.buttonhomeR {
  min-width: 3.5em;
}

body {
  background: url("../images/bg-image.png");
  color: white;

}

footer {
  min-height: 5em;
  background-color: #5E5E5E;
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
}

/* begin styles for header navigation */

header {
  padding-top: 20px;
  margin-bottom: 15%;
  min-width: 85%;
  background-color: #5E5E5E;
}

.logo {
  width: 500px;
}

.helpbtn, .closebtn {
  float: right;
  padding-left: 100px;
  padding-right: 2%;
  padding-top: 3%;
}

.helpbtn {
  padding-left: 2%;
}

/* end header navigation styling */


/* footer styling */
.blankfooter {
  background-color: #5E5E5E;
  height: 25%;
}


/* end footer styling */
